<hr>
<footer>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 " id="horario">
                <h2>{{__DATOS__.titulo.horario}}</h2>
                <p>{{__DATOS__.contenido.horario}}</p>
            </div>
            <div class="col-md-6 col-sm-12 ">{{__DATOS__.contenido.nosotros}}</div>
            <div class="col-md-12 col-sm-12 pt-4">
              <h2 class="text-center ">{{__DATOS__.titulo.mediosPago}}</h2>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="img-fluid" src="{{__DATOS__.image.medios1}}" alt="{{__DATOS__.titulo.mediosPago}}">
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="img-fluid" src="{{__DATOS__.image.medios2}}" alt="{{__DATOS__.titulo.mediosPago}}">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <span>{{__DATOS__.contenido.infoFooter}} </span>
        <span>{{__DATOS__.contenido.infoFooterContacto}} </span>
    </div>
</div>
</footer>
