<div id="header">

    <div class="row">
        <div class="col-md-8 col-sm-12 text-right">
            <img class="img-fluid" src="{{__DATOS__.image.logo}}" alt="{{__DATOS__.titulo.empresa}}">
        </div>
        <div class="col-md-4 col-sm-12 ">
            <div><span>PEDIDOS POR </span> <img src={{__DATOS__.image.whatsapp}} alt="Contactenos por WhatsAppp"></div>
            <h2>312 369 3618</h2>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4 trabajador d-none d-md-block"> 
            <img class="img-fluid " src="{{__DATOS__.image.trabajador}}" alt="{{__DATOS__.image.trabajador}}">
        </div>
        <div class="col col-md-8">
            <h1> Uniformes y dotaciones empresariales</h1>
            <h2> Prendas de alta calidad 100% garantizadas </h2>
            <p>
                Sudotación S.A.S cumple con las normas y estándares exigidos por su empresa <br>
                <span> Selección el grupo de producto por el cual esta interesado</span>
            </p>
        </div>
    </div>

</div>