<div class="container" id="header">
    <div class="row">
        <div class="col-md-8 col-sm-12 text-right">
           <a href="./"> <img class="img-fluid" src="{{__DATOS__.image.logo}}" alt="{{__DATOS__.titulo.empresa}}"></a>
        </div>
        <div class="col-md-4 col-sm-12 ">
            <div><span>PEDIDOS POR </span>
              <a target=blank href="https://api.whatsapp.com/send?phone=+57 312 3693618&text=Hola Sudotacion SAS, estoy interesado en cotizarte algo. Estas disponible ahora? ">
              <img src={{__DATOS__.image.whatsapp}} alt="Contactenos por WhatsAppp"></a>

              <a target=blank href="https://www.facebook.com/sudotacion">
                <img src={{__DATOS__.image.facebook}} alt="Facebook"></a>

              <a target=blank href="https://www.instagram.com/sudotacionsas/">
                <img src={{__DATOS__.image.instagram}} alt="Instagram"></a>
            </div>
            <h2><a target=blank href="https://api.whatsapp.com/send?phone=+57 312 3693618&text=Hola Sudotacion SAS, estoy interesado en cotizarte algo. Estas disponible ahora? "> 312 369 3618</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4 trabajador d-none d-md-block">
            <img class="img-fluid " src="{{__DATOS__.image.trabajador}}" alt="{{__DATOS__.image.trabajador}}">
        </div>
        <div class="col col-md-8">
            <h1> Uniformes y dotaciones empresariales</h1>
            <h2> Prendas de alta calidad 100% garantizadas </h2>
            <p>
                Sudotación S.A.S cumple con las normas y estándares exigidos por su empresa <br>
                <span> Selección el grupo de producto por el cual esta interesado</span>
            </p>
        </div>
    </div>
</div>
