<div (click)="onExit()" class="detail row">

        <div class="col-md-5 col-sm-12">
            <h3>{{__DATOS__.titulo.cotizar}}</h3>
            <a target=blank href="https://api.whatsapp.com/send?phone=+57 312 3693618&text=Hola Sudotacion SAS, estoy interesado en cotizarte algo. Estas disponible ahora? ">
                <h2>{{__DATOS__.titulo.celular}}</h2>
            </a>
            <div type="button" class="btn" (click)="onClick()">
                {{__DATOS__.action.cotizar}}
            </div>
        </div>
        <div class="col-md-7 col-sm-12" id="itemDetail">
            <div class="row">
            <div class="col-sm-4 text-center"><img class="img-fluid" src="{{itemDetail.image}}" alt="{{itemDetail.titulo}}"></div>
                <div class="col-sm-8">
                    <h3>{{itemDetail.titulo}}</h3>
                    <ul>
                        <li *ngFor="let p of prendas">{{p}} </li>
                    </ul>
                    <p>{{itemDetail.decription}}</p>
                </div>
            </div>
        </div>
    
</div>