.detail{
    z-index: 20;
    background: #0000008f;
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: 'Montserrat', sans-serif!important;
    color: #333;

    #itemDetail{
            
        img{
            max-height: 180px;
            border: solid #173873 3px;
            border-radius: 5px;
        }

        h3 {
            font-size: 1.3rem;
            color: #fc861e;
        }
        li, p{
            font-size: 0.8rem!important;
        }
    }

    > div {
        max-height: 250px;
        background: #fff;
        top: 30%;
    }
    > div:first-child{
        background: url(../../assets/backNaraja.jpg) no-repeat;
        background-size: cover;
        color: #fff;
        font-weight: 400;
        padding: 2rem;
        text-align: center;

        h3{ font-size: 1.6rem;}
        h2{ font-size: 3rem; font-weight: 600;}
        
        .btn{
            background:#fff;
            width: 80%;
            color: #000000;
            letter-spacing: 0.1rem;
        }
        .btn:hover{
            background:#263e9c;
            color: #fc861e;
        }
    }
    > div:last-child{
        padding: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .detail{
        > div{  
            position: initial;
            height: auto;
            max-height: 100%;
        }        
        > div:first-child, > div:last-child{
            padding: 1rem!important;
        }
    } 
    
        
}

