$colorNegro :#000;

h2 {
  font-family: 'Montserrat', sans-serif!important;
  color: $colorNegro;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  line-height: 2rem;
  margin: 2rem 1rem;
}
